# Azure
ARM_TENANT_ID=
ARM_SUBSCRIPTION_ID=
ARM_CLIENT_ID=
ARM_CLIENT_SECRET=

# Huawei Cloud
HW_ACCESS_KEY=
HW_SECRET_KEY=
HW_REGION=af-south-1
HW_ENTERPRISE_PROJECT_ID=

# Lab controls
MIVA_ENV=lab
MIVA_OWNER=oche-eluma
MIVA_COST_TAG=miva-research-lab
