# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
crash.*.log
.terraform.lock.hcl

# Secrets
.env
*.pem
*.key
*.p12
*.pfx
secrets.*
credentials.*

# Local output
.DS_Store
__pycache__/
*.log
node_modules/
dist/
build/
